.a-button {
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 700;
}

.a-button:hover {
  cursor: pointer;
}

.a-button-primary {
  background: #dbd9ec;
  color: #603dcb;
}

.a-button-primary:hover {
  background: #d6d1ff;
}

.a-button-secondary {
  color: #79858d;
  background-color: #f1f5f8;
}

.a-button-secondary:hover {
  background-color: #e5e7eb;
}
