.create-event__container {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-event__event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-event__group-container {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  width: 100%;
}

.create-event__group-title {
  margin: 0;
  margin-bottom: 12px;
}
