@import "~sass-globals/variables";

.share-banner__container {
  border-radius: 8px;
  border: 2px solid #99bfe2;
  background-color: #e7f3fa;
  color: #1d4b8f;
  display: flex;
  align-self: flex-start;
  font-size: 1rem;
  align-items: center;
  padding: 8px 18px;
  opacity: 1;
  margin: 16px 0;
  transition: opacity 300ms ease-in;
}

.share-banner__icon {
  margin-right: 8px;
}

@media only screen and (max-width: $mobile-break) {
  .share-banner__container {
    margin-left: auto;
    margin-right: auto;
  }
}

.share-banner__text {
  font-weight: 500;
  margin-right: 12px;
}

.share-banner__button {
  border: none;
  background-color: #44548f;
  color: white;
  border-radius: 8px;
  padding: 6px;
  font-weight: 600;
  font-size: 12px;
  &:hover {
    cursor: pointer;
  }
}

.share-banner__button--copied {
  background-color: #6eb256;
  color: white;
  font-size: 12px;
  &:hover {
    cursor: default;
  }
}
