@import "~sass-globals/variables";
.nav-bar {
  text-decoration: none;
  color: var(--black);
}

.nav-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  // position: sticky;
  // top: 0;
  // background: white;
}

.nav-bar__home {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-bar__links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.nav-bar__item {
  border: none;
  padding: 8px;
  white-space: nowrap;
  margin: 0 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #bfc4c8;

  &:hover {
    cursor: pointer;
  }
}

.nav-bar__item:hover:not(.nav-bar__active) {
  background-color: #f1f5f8;
}

.nav-bar__active {
  color: var(--black);
}

.nav-bar__pop-over-button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 8px;
  border-radius: 4px;
  color: #9c9aaf;
  &:hover {
    cursor: pointer;
    background: #f5f6f9;
    color: var(--black);
  }
}

.nav-bar__active::after {
  /* content: "";
  display: block;
  margin: 0 auto;

  color: var(--black);
  border-bottom: 3px solid var(--black);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 6px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  animation: 200ms animate-width-in forwards; */

  /*==== */
  content: "";
  display: inline-block;
  margin: 0 auto;
  background-color: var(--black);
  height: 4px;
  width: 50%;
  display: flex;
  margin-top: 6px;
  border-radius: 10px;
  animation: 250ms animate-width-in forwards;
}

@keyframes animate-width-in {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

.nav-bar__inactive:hover {
  color: #79858d;
}

.nav-bar__user-avatar {
  border: 2px solid #bfc4c8;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: $mobile-break) {
  .nav-bar__links-container {
    .nav-bar__active::after {
      display: none;
    }
    flex-direction: column;
    // align-items: flex-end;
  }
}
