@import "~sass-globals/variables";


.condensedevent__container-date {
  float: left;
  margin-right: 20px;
  width: 2em;
  height: 5vh;
  font-size: 1em;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.condensedevent__card {
  z-index: 8;
  transition: 0.9s;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(220,220,220);
  width: 390px;

}

@media only screen and (max-width: $mobile-break) {
  .condensedevent__card {
    width: 289px;
  }

  .condensedevent__container-date{
    margin-right: 10px;
    font-size: .9rem;
    margin-left: -12px;
  }
  .condensedevent__container-dateInterval{
    width: 220px;
    font-size: .90rem;
  }

  .condensedevent__timeZone{
    width: 220px;
    font-size: .95rem;
  }

}







.condensedevent_container-date-dayOfweek {
  color: #7B7676;
}



.condensedevent__container-description {
  margin-left: 5px;
  flex-wrap: wrap;
  display: flex;
  width: 275px;
  max-height: 500px;
}

@media only screen and (max-width: $mobile-break) {
  .condensedevent__container-description{
    width: 210px;
  }
}

@media only screen and (min-width: $mobile-break) {
  .condensedevent__container-description{
    width: 325px;
  }
}




.condensedevent__red {
  color: #7a0719;
}

.condensedevent__container-dateInterval{

}

.condensedevent__timeZone{

}


.condensedevent__card:hover {
  background-color: rgba(222, 235, 255, .15);

  transition: 0.5s;
  box-shadow: 2px 4px #B8B8B8;
}

 .condensedevent__container-namesEmails {
   height: 48px;
   padding-top: 5px;
   width: 370px;
   display: flex;
   padding:0;
   overflow: hidden;

 }

@media only screen and (max-width: $mobile-break) {
  .condensedevent__container-namesEmails{
    width: 260px;

  }
}

@media only screen and (max-width: $mobile-break) {
  .condensedevent__container-namesEmails-chips{
    width: 180px;
  }
}

@media only screen and (min-width: $mobile-break) {
  .condensedevent__container-namesEmails-chips{
    width: 290px;

  }
}




.condensedevent__container-namesEmails-chips{
  height:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: auto;
  float: left;
  position: relative;


}
.condensedevent_container-namesEmails-dropDown{
  float:right;
  width: 30px;
  height: 55px;
  z-index: -5;
  margin-left: 0;

}

.condensedevent__card-groupIcon{
  color: #424242;
  margin-top:10px;
}


 .condensedevent__container-navigate {
   margin-top: 5px;
   margin-bottom: -15px;

 }
