.clock {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: solid 3px var(--black);
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;

  .hours {
    position: absolute;
    width: 50px;
    height: 5px;
    // background: red;
    top: 22.5px;
    animation: you-spin-me-round-round-baby-right-round 5s linear 0s infinite;
    &:before {
      content: "";
      height: 5px;
      width: 16px;
      position: absolute;
      right: 11px;
      background: black;
      border-radius: 5px;
    }
  }
  .minutes {
    position: absolute;
    width: 50px;
    height: 5px;
    // background: blue;
    top: 22.5px;
    animation: you-spin-me-round-round-baby-right-round 600ms linear 0s infinite;

    &:before {
      content: "";
      height: 5px;
      width: 22px;
      position: absolute;
      right: 5px;
      background: var(--black);
      border-radius: 5px;
    }
  }
}

.loading-container {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 32px;
}
@keyframes you-spin-me-round-round-baby-right-round {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
