.auth-button {
  background: #dbd9ec;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 700;
  color: #603dcb;
  margin-top: 24px;
}

.auth-button:hover {
  cursor: pointer;
  background: #d6d1ff;
}

.auth-button-secondary {
  color: #79858d;
  background-color: #f1f5f8;
}

.auth-button-secondary:hover {
  background-color: #e5e7eb;
}
