.app-container {
  max-height: 100vh;
}

a {
  text-decoration: none;
  /* color: white; */
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-size: 16px;
}

:root {
  --nav-height: 60px;
  --black: #1f2325;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}
